[Unit]
Description=Ombi docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                        --name=ombi \
                        -e PUID=1006 \
                        -e PGID=1005 \
                        -e TZ=Europe/Skopje \
                        -v /home/ombi/config:/config \
                        --network home-theater-system \
                        ghcr.io/linuxserver/ombi

ExecStop=/usr/bin/docker stop ombi 

[Install]
WantedBy=multi-user.target
